<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>À propos de nous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://lh3.googleusercontent.com/-US-3s9HS8ew/VNmaunIG8DI/AAAAAAAAAAk/yhuoKGO--Vs2TrFTY31fE0atpM1VcJc9ACLIBGAYYCw/w1080-h608-p-k-no-v0/" />
    <ion-card-header>
      <ion-card-title>IDEAL INFORMATIQUE
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La société <strong>IDEAL INFORMATIQUE </strong> spécialisée Informatique - Fournitures, Informatique - Materiel Micro-informatique. La société IDEAL INFORMATIQUE est basée à Nabeul.
<br>
      Depuis 2006, IDEAL INFORMATIQUE n'a cessé de se développer et elle a étendue son réseau pour vous assurer le meilleur service et la bonne conseil. Nous distribuons les plus grandes marques du marché de la nouvelle technologie telles que DELL, HP    </ion-card-content>
  </ion-card>
 
</ion-content>
