<!--
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Promotions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        
        <ion-card-title style="font-size: 16px;font-weight: bold;">PC PORTABLE DELL INSPIRON 3593 I5 10È GÉN 8GO 1TO NOIR

        </ion-card-title>
        <img src="https://ideal-info.net/1285-large_default/pc-portable-dell-inspiron-3593-i5-10e-gen-8go-1to-noir-et-silver.jpg" />
        <ion-card-header  >
          <ion-card-subtitle>
            <ion-chip color="success"  style="font-size: 16px;">
              <ion-label >1 679 TND</ion-label>
            </ion-chip>
            <strike  style="font-size: 14px;">1 779 TND</strike> </ion-card-subtitle>


        </ion-card-header>
        <ion-card-content style="text-align: left;">
          DELL Inspiron 3593 i5 10è Gén 8Go 1To Noir 
        </ion-card-content>
      </ion-card>
     </ion-slide>
    <ion-slide>
      <ion-card>
        
        <ion-card-title style="font-size: 16px;font-weight: bold;">SMARTPHONE SAMSUNG GALAXY A31 4GO/128GO BLANC
        </ion-card-title>
        <img src="https://ideal-info.net/1239-large_default/smartphone-samsung-galaxy-a31-blanc.jpg" />
        <ion-card-header  >
          <ion-card-subtitle>
            <ion-chip color="success"  style="font-size: 16px;">
              <ion-label >650 DTN</ion-label>
            </ion-chip>
            <strike  style="font-size: 14px;">700 DTN</strike> </ion-card-subtitle>

        </ion-card-header>
        <ion-card-content style="text-align: left;">
          Ecran 6.4"  RAM 4 Go Stockage 128 Go Quad Camera 48.0 MP+5MP+8MP+5MP / 20.0 MP batterie 5000 mAh 
        </ion-card-content>
      </ion-card>
    </ion-slide>
   
    
  </ion-slides>
</ion-content>
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Promotions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-view view-title="title"  >
    <ion-content overflow-scroll="true"  >
         <iframe src="https://ideal-info.net/promotions" style="height: 100%;width: 100%;"></iframe>
    </ion-content>
</ion-view>
</ion-content>
