<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Newsletter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-class">
  <div style="padding:3%;text-align: center;padding-top: 30px;padding-bottom: 30px;">
  <ion-label >
   <strong>Abonnez vous à notre newsletter maintenant</strong> 
   <br>
   <br>
   et recevez tous les jours les meilleures offres dans votre boîte

  </ion-label>
</div>
   <ion-item >
    <ion-label position="floating">Votre email</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <section class="ion-text-center" style="margin-top: 5%;">

  <ion-button size="small" color="secondary" class="ion-text-center">ENVOYER</ion-button>
  </section>

 </ion-content>
