<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>services</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content  >
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="assets/7-Paiement-de-factures-STEG-SONEDE-etc.-300x169.jpg"/>
        <h2>PAIEMENT FACTURES</h2>
        <p> un service de consultation et de paiement de vos factures.</p>
        <p> (Steg, Sonède ou TT) </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="assets/gars-du-support-technique-travaillant-reparation-du-materiel-logiciels-informatiques-depannage-resolution-problemes-concept-verification-problemes-illustration-isolee-violette-vibrante-lumineuse_335657-364.jpg"/>
        <h2>MAINTENANCE INFORMATIQUE</h2>
        <p>Résoudre vos problèmes et pannes liées à votre matériel informatique.</p>
       </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="https://ideal-info.net/img/cms/Best-Web-Hosting-Domain-Hosting-Services-For-Your-Websites.jpg"/>
        <h2>HÉBERGEMENT WEB</h2>
        <p>Héberger votre site web, avoir une boîte mail professionnelle..</p>
       </div>
    </ion-slide>   
    <ion-slide>
     <div class="slide">
       <img src="https://ideal-info.net/img/cms/topnet.jpg"/>
       <h2>ABONNEMENT INTERNET</h2>
       <p>IDEAL INFORMATIQUE distribue les abonnements Internet de chez TOPNET et ORANGE TUNISIE.</p>
      </div>
   </ion-slide>   
   <ion-slide>
    <div class="slide">
      <img src="assets/website-development-laptop-image.jpg"/>
      <h2>Développements de sites web</h2>
      </div>
  </ion-slide>
  </ion-slides>

 
</ion-content>


